* {
  padding: 0;
  margin: 0;
}

body {
  padding: 4rem 6rem;
  font-family: 'Poppins', sans-serif;
}

ul {
  border: 1px solid black;
}

header {
  padding: 10px;
}

#main-sec {
  display: flex;
  justify-content: space-between;
}

#scores-div,
#scores-form {
  width: 50%;
}

#scores-div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#refresh-btn {
  height: 2rem;
}

li {
  list-style: none;
  height: 20px;
  padding: 6px 5px;
}

li:nth-child(odd) {
  background: rgb(199, 225, 255);
}

#scores-form {
  padding-right: 6rem;
}

#scores-form h2 {
  text-align: center;
  padding: 10px;
}

form {
  margin: auto;
  text-align: center;
}

form input {
  margin: 0.5rem;
  width: 10rem;
  height: 1.3rem;
}
